<?xml version="1.0" encoding="UTF-8"?>

<!--
  	&copy; 2019 Bioforsk
	Author: Tor-Einar Skog <tor-einar.skog@nibio.no>
  -->

<module xmlns="urn:jboss:module:1.1" name="no.nibio.vips.modelcontainer">
    <resources>
        <!--resource-root path="."/-->
	<!--resource-root path="GenericPathogenPlantInfectionModel-1.0-SNAPSHOT.jar"/-->
	<!-- Insert resources here -->
	<resource-root path="NaerstadModel-1.0-SNAPSHOT.jar"/>
    </resources>
    <dependencies>
		<module name="no.nibio.vips.VIPSCommon" export="false"/>
		<module name="org.apache.commons.math" export="false"/>
		<module name="com.fasterxml.jackson.core.jackson-core" export="false"/>
		<module name="com.fasterxml.jackson.core.jackson-databind" export="false"/>
		<module name="com.vividsolutions.jts" export="false"/>
		<module name="org.graalvm" export="false"/>
		<module name="com.eclipsesource.j2v8" export="false"/>
    </dependencies>
    
</module>
