<?xml version="1.0" encoding="UTF-8"?>

<!--
  	&copy; 2013 Bioforsk
	Author: Tor-Einar Skog <tor-einar.skog@nibio.no>
  -->

<module xmlns="urn:jboss:module:1.1" name="org.graalvm">
    <resources>
        <!--resource-root path="."/-->
	<resource-root path="graal-sdk-1.0.0-rc12.jar"/>
	<resource-root path="truffle-api.jar"/>
	<resource-root path="trufflenode.jar"/>	
	<resource-root path="truffle-nfi.jar"/>	
	<resource-root path="graaljs.jar"/>
	<resource-root path="tregex.jar"/>
        <!-- Insert resources here -->
    </resources>
   
    <dependencies>
        <module name="sun.jdk" export="true" >
            <imports>
                <include path="sun/misc/Unsafe" />
            </imports>
        </module>
    </dependencies>
</module>
