<?xml version="1.0" encoding="UTF-8"?>

<!--
  	&copy; 2017 NIBIO
	Author: Tor-Einar Skog <tor-einar.skog@nibio.no>
  -->

<module xmlns="urn:jboss:module:1.1" name="com.vividsolutions.jts">
    <resources>
        <!--resource-root path="."/-->
	<resource-root path="jts-1.13.jar"/>

        <!-- Insert resources here -->
    </resources>
    <dependencies>
		
    </dependencies>
    
</module>
